keras
korch
torch
torchvision
opencv-python
Pillow
scikit-learn
boto3
#tensorflow
#torch==1.9.1+cu111
#--find-links https://download.pytorch.org/whl/torch_stable.html
#git+https://github.com/ultralytics/ultralytics.git
#ultralytics
